{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<table class="table">
    <thead>
      <tr>
        <th scope="col">Symbol</th>
        <th scope="col">Shares</th>
        <th scope="col">Price</th>
        <th scope="col">TYPE</th>
        <th scope="col">TIME</th>
      </tr>
      {% for row in pip %}
      <tr>
          <td> {{ row.symbol}}</td>
          <td> {{ row.quantity }}</td>
          <td> {{ row.price }} </td>
          <td> {{ row.type}} </td>
          <td> {{ row.timestamp}} </td>
      </tr>
  {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <tfoot>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                    <td class="border-0 text-end">{{ cash }}</td>
                </tr>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Total</td>
                    <td class="border-0 w-bold text-end">{{ total }}</td>
                </tr>
            </tfoot>
        </tr>
    </tfoot>
  </table>


{% endblock %}
